# chapter2. An array of sequences
----
Most of the discussion in this chapter applies to sequences in general, from the familiar list to the str and bytes types that are now in Python 3. Specific topics on lists, tuples, arrays and queues are also covered here, but the focus on Unicode strings and byte sequences is deferred to Chapter 4.
- lists
- tuples
- arrays
- queues

## 2.2 List comprehensions and generator expressions

In [3]:
symbols = '$¢£¥€¤'
codes = []
for s in symbols:
    codes.append(s)
codes

['$', '¢', '£', '¥', '€', '¤']

In [4]:
symbols = '$¢£¥€¤'
codes = [sy for sy in symbols]
codes

['$', '¢', '£', '¥', '€', '¤']

### 2.2.2 Listcomps versus map and filter

In [5]:
symbols = '$¢£¥€¤'
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]
beyond_ascii

[162, 163, 165, 8364, 164]

In [6]:
beyond_ascii = list(filter(lambda c: c > 127, map(ord, symbols)))
beyond_ascii

[162, 163, 165, 8364, 164]

In [10]:
def test(a):
    b = a + 1
    return 'hello'

data = [1,2,3,4]
list(map(test, data))

['hello', 'hello', 'hello', 'hello']

### 2.2.4 제너레이터 표현식
----
- iterator protocol을 이용해서 항목을 하나씩 생성한다.
- 메모리를 더 적게 사용한다.

In [13]:
symbols = '$¢£¥€¤'
tuple(symbol for symbol in symbols)

('$', '¢', '£', '¥', '€', '¤')

In [12]:
import array
array.array('I', (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

### 데카르트 곱 by list comp

In [14]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [15]:
tshirts = []
for color in colors:
    for size in sizes:
        tshirts.append((color, size))
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

### 데카르트 곱 by generator

In [16]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
for tshirt in ('{} {}'.format(c, s) for c in colors for s in sizes):
    print(tshirt)
# generator표현식은 한 번에 하나의 항목을 생성하며, 6개의 티셔츠 종류를 담고 있는 리스트는 만들지 않는다.

black S
black M
black L
white S
white M
white L

## 2.3 튜플은 단순한 불변 리스트가 아니다
----
튜플은 불변 리스트로 사용할 수도 있지만 필드명이 없는 레코드로 사용할 수도 있다.

### 2.3.1 레코드로서의 튜플

In [17]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [18]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

In [19]:
divmod(20, 8)

(2, 4)

In [20]:
t = (20, 8)
divmod(*t)


divmod(t)
divmod((20,8))

TypeError: divmod expected 2 arguments, got 1

### 초과 항목을 잡기 위해 * 사용하기

In [21]:
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [22]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),   # <1>
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas:  # <2>
    if longitude <= 0:  # <3>
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

### 2.3.4 named tuple
----
```collections.namedtuple()``` 함수는 필드명과 클래스명을 추가한 튜플의 서브클래스를 생성하는 팩토리 함수로서 디버깅할 때 유용하다.

In [23]:
from collections import namedtuple
City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [24]:
tokyo.population

36.933

In [25]:
tokyo.coordinates

(35.689722, 139.691667)

In [26]:
tokyo[1]

'JP'

In [27]:
City._fields

('name', 'country', 'population', 'coordinates')

In [28]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
delhi = City._make(delhi_data)
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.208889))])

In [29]:
for key, value in delhi._asdict().items():
    print(key + ':', value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)

![list_or_tuple_methods](./list_or_tuple_methods.png)

## 2.4 슬라이싱
### 2.4.2 슬라이스 객체
----
파이썬은 ```seq[start:stop:step]``` 표현식을 평가하기 위해 ```seq.__getitem__(slice(start, stop, step))```을 호출한다.

In [30]:
seq = list(range(10))
seq

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
SLICE = slice(0, 3)
seq[SLICE]

[0, 1, 2]

### 2.4.4 슬라이스에 할당하기

In [32]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
l[2:5] = [20, 30]
l

[0, 1, 20, 30, 5, 6, 7, 8, 9]

In [34]:
del l[5:7]
l

[0, 1, 20, 30, 5, 8, 9]

In [38]:
l[3::2] = [11, 22]
l

[0, 1, 20, 11, 5, 22, 9]

In [39]:
l[2:5] = 100

TypeError: can only assign an iterable

In [40]:
l[2:5] = [100]
l

[0, 1, 100, 22, 9]

### 2.5.1 리스트의 리스트 만들기

예제 2-12

In [41]:
board = [['_'] * 3 for i in range(3)]
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [43]:
board[1][2] = 'X'
board

[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

예제 2-13

In [42]:
weird_board = [['_'] * 3] * 3
weird_board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [44]:
weird_board[1][2] = 'O'
weird_board

[['_', '_', 'O'], ['_', '_', 'O'], ['_', '_', 'O']]

In [47]:
weird_board[0] is weird_board[1]
id(weird_board[1])

4367989704

In [48]:
board[0] is board[1]

False

## 2.6 시퀀스의 복합 할당
----
+= 연산자가 작동하도록 만드는 특수 메서드는 ```__iadd__()```다. 그런데 ```__iadd__()``` 메서드가 구현되어 있지 않으면, 파이썬은 대신 ```__add__()``` 메서드를 호출한다.

In [49]:
l = [1, 2, 3]
id(l)

4367989832

In [50]:
l *= 2
l

[1, 2, 3, 1, 2, 3]

In [51]:
id(l)

4367989832

### 2.6.1 += 복합 할당 퀴즈

In [56]:
t = (1, 2, [30, 40])
t[2].append(50)

In [57]:
t

(1, 2, [30, 40, 50])

![init-fin-state](./02-array-seq-7.png)

## 2.7 list.sort()와 sorted() 내장 함수
----
- ```list.sort()``` 메서드는 사본을 만들지 않고 리스트 내부를 변경해서 정렬한다.
- ```sorted()``` 메서드는 타깃 객체를 변경하고 새로운 리스트를 생성하지 않았음을 알려주기 위해 ```None```을 반환한다.

## 2.8 정렬된 시퀀스를 bisect로 관리하기
### 2.8.1 bisect()로 검색하기

In [58]:
import bisect
import sys

HAYSTACK = [1, 4, 5, 6, 8, 12, 15, 20, 21, 23, 23, 26, 29, 30]
NEEDLES = [0, 1, 2, 5, 8, 10, 22, 23, 29, 30, 31]

ROW_FMT = '{0:2d} @ {1:2d}    {2}{0:<2d}'

def demo(bisect_fn):
    for needle in reversed(NEEDLES):
        position = bisect_fn(HAYSTACK, needle)  # <1>
        offset = position * '  |'  # <2>
        print(ROW_FMT.format(needle, position, offset))  # <3>

In [59]:
if __name__ == '__main__':
    
    if sys.argv[-1] == 'left':    # <4>
        bisect_fn = bisect.bisect_left
    else:
        bisect_fn = bisect.bisect

    print('DEMO:', bisect_fn.__name__)  # <5>
    print('haystack ->', ' '.join('%2d' % n for n in HAYSTACK))
    demo(bisect_fn)

DEMO: bisect
haystack ->  1  4  5  6  8 12 15 20 21 23 23 26 29 30
31 @ 14      |  |  |  |  |  |  |  |  |  |  |  |  |  |31
30 @ 14      |  |  |  |  |  |  |  |  |  |  |  |  |  |30
29 @ 13      |  |  |  |  |  |  |  |  |  |  |  |  |29
23 @ 11      |  |  |  |  |  |  |  |  |  |  |23
22 @  9      |  |  |  |  |  |  |  |  |22
10 @  5      |  |  |  |  |10
 8 @  5      |  |  |  |  |8
 5 @  3      |  |  |5
 2 @  1      |2
 1 @  1      |1
 0 @  0    0

예제 2-18 시험 점수를 입력받아 등급 문자를 반환하는 grade()함수

In [60]:
def grade(score, breakpoints=[60, 70, 80, 90], grades='FDCBA'):
    i = bisect.bisect(breakpoints, score)
    return grades[i]

In [61]:
grade(77)

'C'

### 2.8.2 bisect.insort()로 삽입하기

In [62]:
import bisect
import random

SIZE = 7

random.seed(1729)

my_list = []
for i in range(SIZE):
    new_item = random.randrange(SIZE*2)
    bisect.insort(my_list, new_item)
    print('%2d ->' % new_item, my_list)

10 -> [10]
 0 -> [0, 10]
 6 -> [0, 6, 10]
 8 -> [0, 6, 8, 10]
 7 -> [0, 6, 7, 8, 10]
 2 -> [0, 2, 6, 7, 8, 10]
10 -> [0, 2, 6, 7, 8, 10, 10]

## 2.9 리스트가 답이 아닐 때
### 2.9.1 배열
---
리스트 안에 숫자만 들어 있다면 배열(array.array)이 리스트보다 훨씬 더 효율적이다.

예제 2-20 커다란 실수 배열의 생성, 저장, 로딩

In [63]:
from array import array
from random import random

floats = array('d', (random() for i in range(10**7)))
floats[-1]

0.5963321947530882

In [66]:
with open('floats.bin', 'wb') as fp:
    floats.tofile(fp)
floats2 = array('d')
with open('floats.bin', 'rb') as fp:
    floats2.fromfile(fp, 10**7)

floats2[-1]

0.5963321947530882

In [65]:
floats2 == floats

True

### 2.9.4 덱 및 기타 큐
----
`append()`와 `pop()` 메서드를 사용해서 리스트를 스택이나 큐로 사용할 수 있다. 그러나 리스트 왼쪽에 삽입하거나 삭제하는 연산은 전체 리스트를 이동시켜야 하므로 처리 부담이 크다.
덱(`collections.deque`) 클래스는 큐의 양쪽 어디에서든 빠르게 삽입 및 삭제할 수 있도록 설계된 thread-safe 양방향 큐다.